<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<mappers>
		<mapper resource="com/zp/mapper/AppointmentMapper.xml" />
		<mapper resource="com/zp/mapper/DeptMapper.xml" />
		<mapper resource="com/zp/mapper/HospitalMapper.xml" />
		<mapper resource="com/zp/mapper/MedicinerMapper.xml" />
		<mapper resource="com/zp/mapper/UserMapper.xml" />
	</mappers>
</configuration>