<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd">

<!-- 自动加载mvc驱动 -->
<mvc:annotation-driven/>

<mvc:default-servlet-handler/>
<!-- 自动扫描包 -->
<context:component-scan base-package="com.zp" />

<!--  -->
<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	<property name="driverClassName" value="com.mysql.jdbc.Driver" />
	<property name="username" value="root"/>
	<property name="password" value="root"/>
	<property name="url" value="jdbc:mysql://localhost:3306/appoint_db"/>
</bean>
<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
	<property name="dataSource" ref="dataSource"/>
	<property name="configLocation" value="classpath:mybatis-config.xml"/>
</bean>

<bean id="userMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
	<property name="mapperInterface" value="com.zp.mapper.UserMapper"/>
	<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
</bean>
<bean id="appointmentMapper.java" class="org.mybatis.spring.mapper.MapperFactoryBean">
	<property name="mapperInterface" value="com.zp.mapper.AppointmentMapper"/>
	<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
</bean>
<bean id="deptMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
	<property name="mapperInterface" value="com.zp.mapper.DeptMapper"/>
	<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
</bean>
<bean id="hospitalMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
	<property name="mapperInterface" value="com.zp.mapper.HospitalMapper"/>
	<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
</bean>
<bean id="medicinerMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
	<property name="mapperInterface" value="com.zp.mapper.MedicinerMapper"/>
	<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
</bean>

</beans>